# Backup files
*~

# World files
worlds/

# Result files
results/

# Eclipse files
.settings/
.project
.cproject

# Object and dependency files
build/

# Resources
resources/

# Logging files
gui.log

# Executables
/gui
/worldGen
/dijkstra
/aStar
/bidir

# makefile dependency file
makefile.deps
