# Backup files
*~

# World files
worlds/

# Result files
results/

# Eclipse files
.settings/
.project
.cproject

# Object files
*.o

# Resources
resources/

# Logging files
gui.log

# Executables
/gui
/worldGen
/dijkstra
