# Backup files
*~

# World files
worlds/

# Result files
results/
saved_results/

# Eclipse files
.settings/
.project
.cproject

# Object and dependency files
build/

# Logging files
gui.log

# Executables
/gui
/worldGen
/dijkstra
/aStar
/bidir
/parBidir
/fringe
/parFringe

# makefile dependency file
makefile.deps

# Atom stuff
.clang_complete
